
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    border-radius: 5.4px 5.4px 5.4px 5.4px;
    outline:none;
}
button:hover, a:hover,.handle:hover{
    cursor:grab;
}
a{
    text-decoration: none;
}
button, .select-box{
    font-family: "Poppins";
}
body{
    font-family: "Poppins";
    display:grid;
    height: 100%;
    grid-template-columns: 20% 80%;
    margin:0;
    padding-bottom:0.5rem;
    padding-top:0.5rem;
    font-size:0.9rem;
}
img{
    margin-right:0.5rem;
}
.left-navbar{
    padding-left:1rem;
    padding-right:1rem;
    height:100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.logo{
    width:7rem;
    position:relative;
}
.handle{
    position:absolute;
    left:13rem;
    
}
.left-navbar>p{
    font-size:0.8rem;
}
.dashboard, .employees, .roles-flex, .access-flex, .roles, .access,.footer-btns{
    display: flex;
}
.employees{
    color:#F53733 ;
    background-color: #FFE9D9;
}
.left-navbar-header>p{
    color:#c5c6ce;
    font-size:0.8rem;
}
.dashboard>p, .employees>p,.roles-flex>p, .access-flex>p{
    margin-bottom:0.5rem;
    margin-top:0.5rem;
    font-size:0.8rem;
    color:#6a6b70;
}
.roles, .access{
    justify-content: space-between;
}
.footer-btns{
    gap:0.5rem;
}
.dismiss-btn{
    width:5rem;
    background-color:#FFE9D9;
    font-size:0.7rem;
    color:#F53733;
    border:none;
    padding:0.5rem 0.5rem 0.5rem 0.5rem;
}
.accept-btn{
    width:5rem;
    font-size:0.7rem;
    background-color: #F53733;
    color:white;
    border:none;
    padding:0.5rem 0.5rem 0.5rem 0.5rem;
}
.left-navbar-footer{
    background-color: #FFF6E5;
    font-size: 0.7rem;
    width:90%;
    padding:0.5rem 0.5rem 1rem 0.5rem;
}
.update{
    color:#F53733;
    font-weight: bold;
}
.update-permission{
    color:#6a6b70;
}
.right-main-body{
    padding-left:0.5rem;
    padding-right:0.5rem;
    background-color: #FFFCEB;
}
.search-bar{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right:0.8rem;
    padding-left:0.8rem;
    background-color: white;
    box-shadow: 0px 0px 5px rgb(0 0 0/ 0.2);
}
.search>input{
    border:none;
}
.search-icons,.search, .portal-intro-btns{
    display:flex;
    align-items: center;
}
.search-icons>img{
    margin-right:0.3rem;
}
.right-icon{
    transform: rotate(90deg);
}
.avatar{
    border-radius: 50%;
    width:2rem;
    height:2rem;
}
.avatar-details>p{
    font-size:0.6rem;
    margin-top:0rem;
    margin-bottom:0.2rem;
}
.admin{
    color:black;
    font-weight: bold;
}
.portal-heading{
    padding-top: 1rem;
    display:flex;
    justify-content: space-between;
    color:#4b4d5a;
}
.heading{
    margin-bottom:0.5rem;
    margin-top:0.3rem;
    font-size:0.8rem;
    font-weight:bold;
    color:#42434b;
}
.sub-line{
    font-size:0.7rem;
    color:#686A7E;
}
.portal-intro-btns{
    gap:1rem;
    align-items: center;
}
.export-btn{
    color:#686A7E;
    font-size:0.8rem;
    width:6rem;
    display: flex;
    align-items: center;
    border:none;
    background-color: white;
    border:0.001vw solid #7e7f8b;
    padding:0.2rem 0.2rem 0.2rem 0.2rem;
}
.add-btn{
    font-size:0.8rem;
    width:12rem;
    background-color:#F53733;
    color:white;
    border:none;
    padding:0.4rem 0.4rem 0.4rem 0.4rem
}
.letters-filter{
    display: flex;
}
.letters-filter>ul{
    list-style-type: none;
    padding-left:0.2rem;
}
.letters-list>li:hover{
    background-color: #F53733;
}
.letters-list>li{
    display: inline;
    background-color: #F5EBDE;
    padding:0.3rem 0.55rem 0.3rem 0.55rem;
    margin-right:0.2rem;
}
.letters-list>li>a{
    color:#4b4d5a;
}
.filter-options{
    padding:0.3rem 0.5rem 0.3rem 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:0.4rem;
    border:0.001vw solid #F53733;
    background-color: #FFF2E1;
}
.filter-select>p{
    margin-top:0.4rem;
    margin-bottom:0.4rem;
    margin-right:0.4rem;
    color:#F53733;
}
.filter-select{
    display: flex;
}
.filter-select>p{
    font-size:0.7rem;
}
.filter-select>.select-box{
    border:none;
    height:2rem;
    border:0.001vw solid#F53733;
    color:#4b4d5a;
    margin-right:0.4rem;
    font-size:0.7rem;
}
.reset, .apply{
    padding:0.3rem 0.5rem 0.3rem 0.5rem;
    border:none;
    font-size:0.7rem;
    border:0.001vw solid #F53733;
}
.filter-options-btns{
    display: flex;
    gap:0.4rem;
}
.reset{
    background-color: white;
    color:#F53733;
}
.apply{
    background-color: #F53733;
    color:white;
}


.table-first-row{
    display: flex;
    justify-content: space-between;
    margin-bottom:0.2rem;
    border-bottom: 1.5px solid #ddd;
    background-color: white;
    padding:0.5rem 0.5rem 0.5rem 0.5rem;
    justify-content: space-between;
    border-collapse:collapse;
}
.table-first-row-btns{
    display:flex;
}
.table-first-row-btns>button{
    background-color: #e78382;
    color:white;
    border:none;
    padding:0.1rem 1rem 0.1rem 1rem;
    border-radius: 5.4px 5.4px 5.4px 5.4px;
    box-shadow: #FFF2E1;
}
.table-employees{
    margin-top:1rem;
    margin-bottom:1rem;
    font-size: 0.8rem;
    height:21.875rem;
    overflow-y: scroll;
    border-collapse: collapse;
    border-bottom: grey; 
}
table{
    box-shadow: 0 0 1px #e78382 ;
    width:100%;
    border-collapse: collapse;
    background-color: white;
    table-layout: auto;
    padding: 0.5rem 1rem 0.5rem 1rem;
}
tr{
    color:black;
}
.col-names{
    background-color:#FFF2E1;
}
tr:hover{
    background-color: #FFF2E1;
}
td{
    border-bottom: 1.5px solid #ddd;
    padding: 0.3rem 0.3rem 0.3rem 0.3rem;
}
.check-col{
    margin-right:1rem;
    padding-left:1rem;
}
.others{
    font-weight:bolder;
    margin-right:1rem;
    padding-right:1rem;
}
.table-second-row{
    display: flex;
    font-size:0.8rem;
    color:#4b4d5a;
    font-weight: bold;
}
.table-second-row>img{
    width:1.1em;
}
.user-col{
    display: flex;
}
.user-col>img{
    width:2rem;
    border-radius: 50%;
    margin-right:0.5rem;
}
.user-details>p{
    margin-top:0rem;
    margin-bottom:0rem;
}
.user-details-email{
    font-size: 0.7rem;
    color:#686A7E;
}
.status>button{
    background-color:#F2F5D8;
    border-radius: 6.5px 6.5px 6.5px 6.5px;
    border:none;
    padding:0.5rem 1rem 0.5rem 1rem;
    color:darkgreen;
}

@media screen and (min-width:768px) and (max-width:976px){
    .dismiss-btn, .accept-btn{
        width:3.2rem;
    }
    .handle{
        left:8rem;
    }
    .letters-list>li{
        display:inline-block;
        margin-bottom:1rem;
    }
}

@media screen and (min-width:992px) and (max-width:1184px){
    .handle{
        left:11rem;
    }
    .letters-list>li{
        display: inline-block;
        margin-bottom:1rem;
    }
}
@media screen and (min-width:1200) and (max-width:1979px){
    .letters-list>li{
        display: inline-block;
        margin-bottom:0.5rem;
    }
    .table-employees{
        height:100vh;
    }
}