.employees{
    color:#F53733;
    background-color: #FFE9D9;
}
.employees>p{
    color:#F53733;
}
.portal-heading{
    padding-top: 1rem;
    display:flex;
    justify-content: space-between;
    color:#4b4d5a;
}
.heading{
    margin-bottom:0.5rem;
    margin-top:0.3rem;
    font-size:0.8rem;
    font-weight:bold;
    color:#42434b;
}
.sub-line{
    font-size:0.7rem;
    color:#686A7E;
}
.portal-intro-btns{
    gap:0.7rem;
    align-items: center;
}
.export-btn{
    color:#686A7E;
    font-size:0.7rem;
    width:6.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
    background-color: white;
    border:0.001vw solid #7e7f8b;
    padding:0.3rem 0.2rem 0.3rem 0.2rem;
}
.export-btn>img{
    width:1.2rem;
}
.add-btn{
    font-size:0.7rem;
    width:10.8rem;
    background-color:#F53733;
    color:white;
    border:none;
    padding:0.38rem 0.5rem 0.38rem 0.5rem
}
.letters-filter{
    display: flex;
}
.letters-filter>ul{
    list-style-type: none;
    padding-left:0.2rem;
}
.letters-list>li:hover{
    background-color: #F53733;
}
.letters-list>li{
    display: inline;
    background-color: #F5EBDE;
    padding:0.5rem 0.61rem 0.5rem 0.61rem;
    margin-right:0.2rem;
    font-size:0.7rem;
}
.letters-list>li>a{
    color:#4b4d5a;
}
.filter-options{
    margin-top:0.5rem;
    padding:0.3rem 0.6rem 0.3rem 0.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:0.4rem;
    border:0.001vw solid #F53733;
    background-color: #FFF2E1;
}
.filter-select>p{
    margin-top:0.4rem;
    margin-bottom:0.4rem;
    margin-right:0.4rem;
    color:#F53733;
}
.filter-select{
    display: flex;
}
.filter-select>p{
    font-size:0.7rem;
}
.filter-select>.select-box{
    border:none;
    height:2rem;
    border:0.001vw solid#F53733;
    color:#4b4d5a;
    margin-right:0.4rem;
    font-size:0.7rem;
    padding:0rem 0.3rem 0rem 0.3rem;
}
.reset, .apply{
    padding:0.3rem 0.5rem 0.3rem 0.5rem;
    border:none;
    font-size:0.7rem;
    border:0.001vw solid #F53733;
}
.filter-options-btns{
    display: flex;
    gap:0.4rem;
}
.reset{
    background-color: white;
    color:#F53733;
}
.apply{
    background-color: #F53733;
    color:white;
}




.table-edits{
    margin-top:0.5rem;
    display:flex;
    justify-content:space-between;
    border-bottom: 1.5px solid #ddd;
    background-color: white;
    padding:0.5rem 0.5rem 0.5rem 0.5rem;
}
.table-edits-items{
    display: flex;
}
.table-edits-items>button{
    background-color: #e78382;
    color:white;
    border:none;
    padding:0.1rem 1rem 0.1rem 1rem;
    border-radius: 5.4px 5.4px 5.4px 5.4px;
    box-shadow: #FFF2E1;
}
.table-employees{
    font-size: 0.7rem;
    height:21.875rem;
    overflow-y: scroll;
    border-collapse: collapse;
}
table{
    box-shadow: 0 0 1px #e78382 ;
    width:100%;
    border-collapse: collapse;
    background-color: white;
    padding: 0.5rem 1rem 0.5rem 1rem;
}
.user-details{
    display: flex;
}
.user-details>img{
    border-radius:50%;
    width:1.5rem;
    height:2rem;
}
.user-details p{
    margin-bottom:0.1rem;
    margin-top:0.1rem;
}
.user-email{
    color:#686A7E;
}
.status-btn{
    background-color:#F2F5D8;
    border-radius: 6.5px 6.5px 6.5px 6.5px;
    border:none;
    padding:0.5rem 1rem 0.5rem 1rem;
    color:darkgreen;
    font-family: "Poppins";
    font-size:0.7rem;
}
tr{
    color:black;
}
thead>tr>th{
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    text-align: left;
    justify-content: left;
    color:#6d6e76;
}
thead{
    background-color:#FFF2E1;
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    height:2.7rem;
}
tr:hover{
    background-color: #FFF2E1;
}
td{
    border-bottom: 1.5px solid #ddd;
    padding: 0.3rem 0.3rem 0.3rem 0.3rem;
}

@media screen and (min-width:768px) and (max-width:976px){
    .dismiss-btn, .accept-btn{
        width:3.2rem;
    }
    /* .handle{
        left:8rem;
    } */
    .letters-list>li{
        display:inline-block;
        margin-bottom:1rem;
    }
}

@media screen and (min-width:992px) and (max-width:1184px){
    /* .handle{
        left:11rem;
    } */
    .letters-list>li{
        display: inline-block;
        margin-bottom:1rem;
    }
}
@media screen and (min-width:1200) and (max-width:1979px){
    .letters-list>li{
        display: inline-block;
        margin-bottom:0.5rem;
    }
    .table-employees{
        height:100%;
    }
}
