.roles{
    color:#F53733 ;
    background-color: #FFE9D9;
}
.roles>p{
    color:#F53733;
}
.portal-intro{
    color:#4b4d5a;
    font-weight: bold;
    margin-top:0.8rem;
}
.portal-intro-flex>p{
    margin-top:0rem;
    margin-bottom:0rem;
}
.portal-intro-flex{
    display: flex;
}
.portal-intro-flex>img{
    margin-right:0.3rem;
}
.portal-intro>.sub-line{
    font-size:0.7rem;
    color:#686A7E;
    font-weight: lighter;
}
.portal-heading{
    margin-top:0.5rem;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.add-employee-button{
    height:2rem;
    background-color:#F53733;
    color:white;
    font-size:0.7rem;
    margin-right:0.2rem;
    width: 10rem;
    border:none;
    border-radius: 5.4px 5.4px 5.4px 5.4px;
}
.heading{
    font-size:0.8rem;
    color:black;
    font-weight: bold;
    margin-top:0.3rem;
    margin-bottom:0.3rem;
}
.description{
    font-size: 0.7rem;
    color:#686A7E;
}
.roles-cards{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:0.5rem;
   /* overflow-y: scroll;
    height:23.875rem; */
}
.role-details{
    background-color: white;
    border:0.001vw solid #7e7f8b;
    padding:1rem 0.5rem 0.5rem 1.3rem;
}
.profile-details,.seating-details, .email-details, .dept-details, .location-details, .view-emp{
    display:flex;
    align-items: center;
}
.profile-details{
    margin-bottom:0.5rem;
}
.profile-details>img{
    border-radius:50%;
}
.profile-details-name>p{
    margin-top:0;
    margin-bottom:0;
}
.user-name{
    font-size:0.8rem;
    color:black;
}
.user-dept{
    font-size:0.7rem;
    color:#686A7E;
}
.view-emp{
    font-size: 0.6rem;
    gap:0.3rem;
    justify-content: right;
}
.view-emp>img{
    width:1rem;
}
.seating-details>p, .email-details>p, .dept-details>p, .location-details>p, .view-emp>p{
    font-size:0.7rem;
    margin-top:0.3rem;
    margin-bottom:0.3rem;
    color:#5a5b5f;
}

@media screen and (min-width:768px) and (max-width:976px){
    /* .handle{
        left:8rem;
    } */
    .roles-cards{
        height: 15.875rem;
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (min-width:992px) and (max-width:1184px){
    /* .handle{
        left:11rem;
    } */
    .roles-cards{
        grid-template-columns: repeat(2,1fr);
    }
}