@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    width:100%;
    height:100%;
    font-family: "Poppins";
    color:#4b4d5a;
    overflow-x: hidden;
    display: flex;
}
a{
    text-decoration: none;
    color:#4b4d5a;
}
button:hover, a:hover{
    cursor:grab;
}
img{
    margin-right: 1vw;
}
.left-navigation{
    font-size: 0.8rem;
    margin-left: 1.5vw;
    color:#c5c6ce;
    width:15%;
    height:100%;
    position:fixed;
}
.left-navigation>p{
    padding-left:0.5vw;
}
.logo{
    width:9vw;
    padding-top:1vw;
    padding-bottom:1vw;
    position:relative;
}
.handle{
    position: absolute;
    left:14.5vw;
    top:1vw;
}
.vertical-navbar-dashboard,.vertical-navbar-employees,.vertical-options-flex{
    display: flex;
    color:#4b4d5a;
    padding:0.5vw 0.5vw 0.5vw 0.5vw;
    border-radius: 0.4vw 0.4vw 0.4vw 0.4vw;
}
.vertical-options-roles{
    background-color: #FFE9D9;
    border-radius: 0.4vw 0.4vw 0.4vw 0.4vw;
}
.vertical-options-roles>.vertical-options-flex>p{
    color:#F53733;
}
.vertical-options-roles,.vertical-options-access{
    display: flex;
    justify-content: space-between;
    margin-top:0.3vw;
    margin-bottom:0.3vw;
}
.vertical-options-roles>img, .vertical-options-access>img{
    width:2vw;
}
.vertical-options-flex>p{
    margin-top:0vw;
    margin-bottom: 0vw;
    font-size:0.8rem;
}
.vertical-navbar-footer{
    font-size:0.8rem;
    margin-top:17vw;
    background-color: #FFF6E5;
    padding:0.5vw 0.5vw 1vw 1vw;
    border-radius: 0.5vw 0.5vw 0.5vw 0.5vw ;
}
.update{
    color:#F53733;
}
.dismiss, .accept{
    width:5vw;
    height:4vh;
    border:none;
    border-radius:0.4vw 0.4vw 0.4vw 0.4vw;
    margin-right:1vw;
}
.dismiss{
    background-color:#FFE9D9;
    color:#F53733;
}
.accept{
    background-color: #F53733;
    color:white;
}
.horizontal-navbar{
    display:flex;
    justify-content: left;
    align-items: center;
    box-shadow: 0 0px 5px rgb(0 0 0/ 0.2);
    border-radius: 0.4vw 0.4vw 0.4vw 0.4vw;
    padding:0.3vw 0.3vw 0.3vw 1.1vw;
    background-color: white;
    position:fixed;
    width:78.5%;
    top:1vw;
}
.horizontal-navbar>.search-icon{
    margin-right:0.7vw;
}
.horizontal-navbar>input{
    width:50vw;
    height:7vh;
    border:none;
    opacity:0.4;
}
.horizontal-navbar>img{
    margin-right:0vw;
}
.avatar{
    border-radius:50%;
    margin-right:0.5vw;
}
.avatar-details{
    margin-left:0.3vw;
    margin-right:0.5vw;
}
.avatar-details>p{
    margin-top:0vw;
    margin-bottom:0vw;
    font-size: 0.8rem;
}
.avatar-details>.admin{
    font-weight: bold;
}
.right-icon{
    transform: rotate(90deg);
}
.right-navigation{
    margin-left:2vw;
    background-color: #FFFCEB;
    padding-left:1vw;
    padding-right:1vw;
    width:86%;
    height:100vh;
    margin-left:18vw;
    margin-top:0vw;
}
.main-body{
    margin-top:5vw;
}
.portal-intro{
    color:#4b4d5a;
    font-weight: bold;
    margin-top:0.8vw;
}
.portal-intro-flex>p{
    margin-top:0vw;
    margin-bottom:0vw;
}
.portal-intro-flex{
    display: flex;
}
.portal-intro-flex>img{
    margin-right:0.3vw;
}
.portal-intro>.sub-line{
    font-size:0.8rem;
    color:#686A7E;
    font-weight: lighter;
}
.portal-heading{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.add-employee-button{
    height:5.3vh;
    background-color:#F53733;
    color:white;
    margin-right:0.2vw;
    width: 12vw;
    border:none;
    border-radius: 0.4vw 0.4vw 0.4vw 0.4vw;
}
.role-heading{
    color:black;
    margin-top:0.3vw;
    margin-bottom:0.3vw;
}
.role-description{
    font-size:0.8rem;
    color: #686A7E;
    margin-top:0.3vw;
    margin-bottom:0.5vw;
}
.roles-details-cards{
    display: grid;
    grid-template-columns: 25.5vw 25.5vw 25.5vw;
    gap:0.8vw;
}
.roles{
    background-color: white;
    border:solid 0.01vw #bcbdce;
    padding:1.5vw 0.5vw 1vw 1.5vw;
    border-radius: 0.3vw 0.3vw 0.3vw 0.3vw;
}
.profile{
    display:flex;
    font-size:0.8rem;
    align-items: center;
}
.profile>img{
    border-radius: 50%;
    height:4vh;
}
.user-name{
    font-size: 0.9rem;
    color:black;
}
.user-dept{
    font-size: 0.7rem;
}
.profile>div>p{
    margin-top:0vw;
    margin-bottom:0vw;
}
.profile-seating, .profile-email,.profile-dept,.profile-location,.view-all{
    display:flex;
    font-size:0.8rem;
    align-items: center;
}
.profile-seating>p, .profile-email>p,.profile-dept>p,.profile-location>p,.view-all>p{
    margin-top:0.5vw;
    margin-bottom:0.3vw;
    margin-left:0.2vw;
}
.view-all>p{
    margin-right:0.4vw;
}
.view-all{
    justify-content:right;
    font-size:0.7rem;
    align-items: center;
}