.roles{
    color:#F53733 ;
    background-color: #FFE9D9;
}
.roles>p{
    color:#F53733;
}
.portal-heading{
    margin-top:1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.heading{
    margin-bottom:0.5rem;
    margin-top:0.3rem;
    font-size:0.8rem;
    font-weight:bold;
    color:#42434b;
}
.sub-line{
    font-size:0.7rem;
    color:#686A7E;
}
.add-btn{
    font-size:0.8rem;
    width:9rem;
    background-color:#F53733;
    color:white;
    border:none;
    padding:0.4rem 0.4rem 0.4rem 0.4rem
}
.filter-options{
    padding-right:0.5rem;
    padding-left:0.5rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:0.4rem;
    border:0.001vw solid #F53733;
    background-color: #FFF2E1;
}
.filter-select>p{
    margin-top:0.4rem;
    margin-bottom:0.4rem;
    margin-right:0.4rem;
    color:#F53733;
}
.filter-select{
    display: flex;
}
.filter-select>p{
    font-size:0.7rem;
}
.filter-select>.select-box{
    border:none;
    height:2rem;
    border:0.001vw solid#F53733;
    color:#4b4d5a;
    margin-right:0.4rem;
    font-size:0.7rem;
    padding:0rem 0.3rem 0rem 0.3rem;
}
.reset, .apply{
    padding:0.3rem 0.5rem 0.3rem 0.5rem;
    border:none;
    font-size:0.7rem;
    border:0.001vw solid #F53733;
}
.filter-options-btns{
    display: flex;
    gap:0.4rem;
}
.reset{
    background-color: white;
    color:#F53733;
}
.apply{
    background-color: #F53733;
    color:white;
}

.roles-cards{
    margin-top:1rem;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:0.5rem;
    /* height:23.875rem;
    overflow-y: scroll; */
}
.role{
    background-color: white;
    border:0.001vw solid #7e7f8b;
    padding:1rem 0.8rem 0.5rem 1rem;
}
.role-name, .dept-name, .dept-name-flex, .location-name, .location-name-flex, .total-emp, .view-emp{
    display:flex;
    align-items: center;
}
.role-name, .dept-name, .location-name,.total-emp{
    justify-content: space-between;
}
.total-emp>img{
    border-radius:50%;
}
.role-name>img,.dept-name>img,.dept-name-flex>img, .location-name>img, .location-name-flex>img, .total-emp>img {
    margin-right:0.2rem;
}
.view-emp{
    justify-content: right;
    gap:0.4rem;
}
.role-name>p{
    font-size:0.8rem;
    color:black;
    font-weight: bold;
}
.dept-name>p,.dept-name-flex>p, .location-name>p, .location-name-flex>p, .total-emp>p{
    font-size:0.7rem;
    margin-bottom:0.4rem;
    margin-top:0.4rem;
}
.view-emp>p{
    color:#4b4d5a;
    font-size:0.6rem;
}
.view-emp>img{
    width:1rem;
}

@media screen and (min-width:768px) and (max-width:976px){
    .dismiss-btn, .accept-btn{
        width:3.2rem;
    }
    /* .handle{
        left:8rem;
    } */
    .roles-cards{
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (min-width:992px) and (max-width:1184px){
    /* .handle{
        left:11rem;
    } */
    .roles-cards{
        height: 29.875rem;
        grid-template-columns: repeat(2,1fr);
    }
}