body{
    margin-right: 2vh;
    margin-left: 2vh;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.whole-page{
    display: flex;
}
img{
    margin-right: 1vw;
}
.left-navigation{
    width: 15vw;
    font-size: small;
}
.logo{
    width:9vw;
    padding-top:1vw;
    padding-bottom:1vw;
}
.vertical-navbar-dashboard,.vertical-navbar-employees,.vertical-options-flex{
    display: flex;
}
.vertical-navbar-employees{
    background-color: #FFE9D9;
    color:#F53733;
}
.vertical-options{
    display: flex;
    justify-content: space-between;
}
.vertical-options>img{
    width:1vw;
}
.vertical-navbar-footer{
    font-size:small;
    margin-top:22vw;
}
.update{
    color:#F53733;
}
.dismiss, .accept{
    width:5vw;
    height:4vh;
    border:none;
    border-radius:2vw 2vw 2vw 2vw;
    margin-right:1vw;
}
.dismiss{
    background-color:#FFE9D9;
    color:#F53733;
}
.accept{
    background-color: #F53733;
    color:white;
}
.horizontal-navbar{
    display:flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 10px rgb(0 0 0/ 0.2);
    border-radius: 1vw;

}
.horizontal-display-flex>input{
    width:50vw;
    height:7vh;
    border:none;
    margin-right:2vw;
}
.horizontal-display-flex>img{
    margin-right:0vw;
}
.horizontal-display-flex{

}